*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    gap: 20;
}
.nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0 20px;
    background-color: white;
}
.lang{
    display: flex;
    gap: 20px;
}
.list{
    display: none;
}
.lang >a{
    font-size: 17px;
    color: rgb(59, 56, 56);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.nav1{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.nav1 >a{
    font-size: 16px;
    color: black;
}
.nav1 >button{
    height: 40px;
    width: 90px;
    background-color: rgb(95, 52, 247);
    color: white;
    outline: none;
    border: none;
    border-radius: 25px;
}
.box1{
    height: 500px;
    width: 100%;
    background-image: linear-gradient(to right,rgb(95, 52, 247) ,rgb(103, 80, 255), rgb(95, 52, 247));
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    text-align: center;
}
.h4{
    font-size: 90px;
    height: 90px;
    width: 400px;
    background-color: white;
    color: rgb(19, 46, 158);
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.h4>h4{
    color: rgb(106, 11, 123);
}
.h112 {
    font-size: 72px;
    background: -webkit-linear-gradient( blue, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.box0{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.box0 > p{
    font-size: 22px;
}
.intro{
    height: 60px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    border-radius: 30px;
    padding: 0 10px;
}
.button1{
    border-radius: 50px;
    width: 150px;
    height: 40px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: rgb(62, 127, 239);
    font-weight: bold;
}
.box2{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box2 >h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box3{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.text-holder{
    background-color: rgb(237, 237, 237);
    height: 350px;
    width: 360px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    color: black;
    padding: 0 20px;
    font-size: 15px;
}
.img-holder{
    height: 200px;
    width: 300px;
    background-image: url(asset/DSC_2284a.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 9px;
    border: 5px solid white;
}
.img-holder1{
    height: 200px;
    width: 300px;
    background-image: url(asset/container-terminal-wharf-transport_1417-142.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 9px;
    border: 5px solid white;
}
.img-holder2{
    height: 200px;
    background-image: url(asset/cardboard-boxes-conveyor-belt-warehouse_632498-1171.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 9px;
    border: 5px solid white;
}
.button{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: white;
}
.a{
    text-decoration: none;
    color: rgb(0, 115, 255);
}
.a:hover{
    color: white;
}
.button:hover{
    background-color: rgb(0, 115, 255);
}
.box4{
    height: 500px;
    width: 100%;
    background-image: linear-gradient(to right,rgb(65, 65, 168) ,rgb(110, 176, 252), rgb(76, 76, 240) );
    border-radius: 9px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.buttom{
    height: 50px;
    width: 160px;
    border-radius: 50px;
    background-color: white;
    color: rgb(60, 97, 201);
    font-size: 15px;
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box5{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 20px;
}
.paper-holders{
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 30px;
}
.paper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.paper >p{
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.paper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.paper3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.paper2 .P{
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.paper3 >P{
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
.box6{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-top: 1px solid rgb(221, 221, 221);
}
.card4{
    margin-top: 40px;
}
.card5{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    font-size: 25px;
}
@media screen and (max-width:430px) {
    .container{
        width: 420px;
        height: 100%;
        padding: 0 10px;
    }
    .nav{
        height: 60px;
        width: 420px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background-color: white;
    }
    .lang{
        display: none;
    }
    .nav1{
        display: none;
    }
    .list{
        height: 40px;
        width: 40px;
        display: block;
    }
    .box1{
        height: 250px;
        width: 410px;
        background-image: linear-gradient(to right,rgb(95, 52, 247) ,rgb(103, 80, 255), rgb(95, 52, 247));
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 20px;
        text-align: center;
    }
    .box0{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .box0 > p{
        font-size: 17px;
    }
    
    .h4{
        height: 40px;
        width: 200px;
        background-color: white;
        color: rgb(19, 46, 158);
        border-radius: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    .h112 {
        font-size: 30px;
        background: -webkit-linear-gradient( blue, green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h1{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .intro{
        height: 50px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid;
        border-radius: 30px;
        padding: 0 10px;
    }
    .button1{
        border-radius: 50px;
        width: 100px;
        height: 30px;
        text-align: center;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        color: rgb(62, 127, 239);
        font-weight: bold;
    }
    .box2{
        height: 150px;
        width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box2 >h1{
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .box3{
        height: 1300px;
        width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .text-holder{
        background-color: rgb(237, 237, 237);
        height: 350px;
        width: 350px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 10px;
        color: black;
        padding: 0 20px;
        font-size: 15px;
    }
    .button{
        height: 30px;
        width: 100px;
        border-radius: 5px;
        border: none;
        background-color: white;
    }
    .a{
        text-decoration: none;
        color: rgb(0, 115, 255);
    }
    .a:hover{
        color: white;
    }
    .button:hover{
        background-color: rgb(0, 115, 255);
    }
    .img-holder{
        height: 200px;
        width: 300px;
        background-image: url(asset/DSC_2284a.webp);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 9px;
        border: 5px solid white;
    }
    .img-holder1{
        height: 200px;
        width: 300px;
        background-image: url(asset/container-terminal-wharf-transport_1417-142.webp);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 9px;
        border: 5px solid white;
    }
    .img-holder2{
        height: 200px;
        background-image: url(asset/cardboard-boxes-conveyor-belt-warehouse_632498-1171.webp);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 9px;
        border: 5px solid white;
    }
    
    .box4{
        height: 300px;
        width: 410px;
        background-image: linear-gradient(to right,rgb(65, 65, 168) ,rgb(110, 176, 252), rgb(76, 76, 240) );
        border-radius: 9px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white;
    }
    .box4>h1{
        font-size: 25px;
    }
    .buttom{
        height: 40px;
        width: 150px;
        border-radius: 50px;
        background-color: white;
        color: rgb(60, 97, 201);
        font-size: 13px;
        border: none;
        outline: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .box5{
        height: 600px;
        width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0 20px;
    }
    .paper-holders{
        height: 300px;
        width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
    .items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 30px;
    }
    .gam{
        height: 50px;
        width: 200px;
    }
    .paper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 20px;
    }
    .paper >p{
        font-weight: lighter;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
    }
    .paper2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 20px;
    }
    .paper2 .P{
        font-weight: lighter;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
    }
    .paper3{
      display: none;
    }
    .box6{
        height: 60px;
        width: 420px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        border-top: 1px solid rgb(221, 221, 221);
    }
    .card5{
        display: none;
    }    
}